<h1>Comment#show</h1>
<div>
  <%= @comment.user.name %>
  <div>
    <%= @comment.text %>
  </div>
  <% if @comment.user_id == current_user.id %>
    <%= link_to "コメントを編集", edit_comment_path(@comment) %>
    <%= link_to "削除", comment_path, method: :delete, data: {confirm: "本当に削除しますか？"} %>
  <% end %>
</div>
