<% if resource.errors.any? %>
  <div class="alert alert-dismissable alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p>入力内容を再確認し、全ての項目を埋めてください。</p>
  </div>
<% end %>
